<body>
  <div class="jumbotron text-center">
    <div class="overlay">
    </div>
    <div class="background-image">
    </div>
    <div class="caption">
      <h1>Mongo Scraper</h1>
      <p>New York Times Edition</p>
    </div>
  </div>
  <div class="container-fluid article-container">
    {{#if article}}
      {{#each article}}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>{{this.title}}</h4>
            </div>
            <div class="panel-body">
                <p> {{this.summary}}</p>
                <a href={{this.link}} target="_blank">{{this.link}}</a>
                <br><br>
                <button type="button" class="btn btn-success save" data-id={{this._id}}>Save Article</button>
            </div>
        </div>
      {{/each}}
      {{else}}
      <div class="panel panel-default">
        <div class="panel-body">
          <h4>Oops! Looks like we don't have any new articles.</h4>
        </div>
      </div>
    {{/if}}
    <div class="card">
      <div class="card-header text-center">
        <h3>What Would You Like To Do?</h3>
      </div>
      <div class="card-body text-center">
        <h4>
          <a class="scrape-new">Try Scraping New Articles</a>
        </h4>
        <h4>
          <a href="/saved">Go to Saved Articles</a>
        </h4>
      </div>
    </div>
  </div>
</body>